.idea/
*.iml
*.tgz
dist
application-OVR.properties
debian/.debhelper/
debian/debhelper-build-stamp
debian/files
debian/hashbash-nginx.postrm.debhelper
debian/hashbash-nginx.substvars
debian/hashbash-nginx/
node_modules/
src/frontend-version.json
update-deb-version
update-versions
version.txt
version.json
